$font-size-xs: 0.7rem;
$font-size-sm: 0.85rem;
$font-size-lg: 1.12rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2rem;
$font-size-4xl: 2.5rem;
$font-size-5xl: 3rem;
$font-size-6xl: 4rem;

html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: $body-color;
}

.frappe-card {
	@include card();
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

h1 {
	font-size: $font-size-3xl;
	line-height: 1.25;
	letter-spacing: -0.025em;
	margin-top: 3rem;
	margin-bottom: 0.75rem;

	@include media-breakpoint-up(sm) {
		font-size: $font-size-5xl;
		line-height: 2.5rem;
		margin-top: 3.5rem;
		margin-bottom: 1.25rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: $font-size-6xl;
		line-height: 1;
		margin-top: 4rem;
	}
}

h2 {
	font-size: $font-size-2xl;
	margin-top: 2rem;
	margin-bottom: 0.75rem;

	@include media-breakpoint-up(sm) {
		font-size: $font-size-3xl;
		margin-top: 4rem;
		margin-bottom: 1rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: $font-size-4xl;
		margin-top: 4rem;
	}
}

h3 {
	font-size: $font-size-xl;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;

	@include media-breakpoint-up(sm) {
		font-size: $font-size-2xl;
		margin-top: 2.5rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: $font-size-3xl;
		margin-top: 3.5rem;
	}
}

h4 {
	font-size: $font-size-lg;
	margin-top: 1rem;
	margin-bottom: 0.5rem;

	@include media-breakpoint-up(sm) {
		font-size: $font-size-xl;
		margin-top: 1.25rem;
	}
	@include media-breakpoint-up(xl) {
		font-size: $font-size-2xl;
		margin-top: 1.75rem;
	}

	a {
		color: $body-color;
	}
}

.btn.btn-lg {
	font-size: $font-size-lg;
}

.hide {
	display: none !important;
}

#freeze {
	z-index: 1020;
	bottom: 0;
	opacity: 0;

	&.dark {
		background-color: #334143;
	}

	.freeze-message-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.freeze-message {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		text-align: center;
		color: white;
	}

	&.in {
		opacity: 0.5;
	}
}
