$gray-900: #192734 !default;
$gray-800: #313B44 !default;
$gray-700: #4C5A67 !default;
$gray-600: #74808B !default;
$gray-500: #A6B1B9 !default;
$gray-400: #C8CFD5 !default;
$gray-300: #E2E6E9 !default;
$gray-200: #EEF0F2 !default;
$gray-100: #F8FAFF !default;
$gray-50 : #F9FAFA !default;

$blue-900: #1A4469 !default;
$blue-800: #154875 !default;
$blue-700: #1366AE !default;
$blue-600: #1579D0 !default;
$blue-500: #2490EF !default;
$blue-400: #50A6F2 !default;
$blue-300: #7CBCF5 !default;
$blue-200: #A7D3F9 !default;
$blue-100: #D3E9FC !default;
$blue-50 : #F0F8FE !default;

$dark-green-500: #2F9D58;
$dark-green-50: #EAF5EE;

$orange-500: #F8814F;
$orange-100: #FFEAE1;
$orange-50: #FFF5F0;

$yellow-500: #D69E2E;
$yellow-50:  #FEF4E2;

$red-500: #E24C4C;
$red-50: #FFF5F5;

$black: #000 !default;
$primary: #6195ff !default;
$primary-light: lighten($primary, 42%) !default;
$light: $gray-50 !default;
$light-yellow: #FEF4E2;

$body-color: $gray-700 !default;
$text-muted: $gray-600 !default;
$border-color: $gray-300 !default;
$headings-color: $gray-900 !default;
$breadcrumb-bg: transparent !default;
$navbar-bg: white !default;

$container-max-widths: (
	sm: 540px,
	md: 840px,
	lg: 1090px,
	xl: 1290px
);

$font-sizes: (
	"xs": 0.75rem,
	"sm": 0.875rem,
	"base": 1rem,
	"lg": 1.125rem,
	"xl": 1.25rem,
	"2xl": 1.5rem,
	"3xl": 1.875rem,
	"4xl": 2.25rem,
	"5xl": 3rem,
	"6xl": 4rem
);

@each $size, $value in $font-sizes {
	.font-size-#{$size} {
		font-size: $value;
	}
}

$border-radius: var(--border-radius);
$border-radius-sm: var(--border-radius-sm);
$border-radius-lg: var(--border-radius-lg);

$font-size-xs: 0.75rem !default;
$font-size-sm: 0.875rem !default;
$font-size-base: 1rem !default;
$font-size-lg: 1.125rem !default;
$font-size-xl: 1.25rem !default;
$font-size-2xl: 1.5rem !default;
$font-size-3xl: 1.875rem !default;
$font-size-4xl: 2.5rem !default;
$font-size-5xl: 3rem !default;
$font-size-6xl: 4rem !default;

$btn-padding-y-lg: 1rem !default;
$btn-padding-x-lg: 2.5rem !default;
$btn-font-size-lg: 1.125rem !default;
$btn-line-height-lg: 1 !default;
$btn-border-radius-lg: 0.5rem !default;
$btn-border-radius: 0.375rem !default;
$btn-font-size: $font-size-sm !default;
$btn-padding-x: 1rem !default;
$btn-padding-y: 0.5rem !default;
$btn-font-weight: 500 !default;

$navbar-nav-link-padding-x: 1rem !default;
$navbar-padding-y: 1rem !default;
$card-border-radius: 0.75rem !default;
$card-spacer-y: 0.5rem !default;

$dropdown-font-size: $font-size-sm !default;
$dropdown-border-radius: 0.375rem !default;
$dropdown-item-padding-y: 0.5rem !default;
$dropdown-item-padding-x: 0.5rem !default;

$input-bg: $gray-100;
$input-focus-bg: $gray-200;
$input-focus-box-shadow: none;
$input-border-color: $gray-100;
$input-focus-border-color: $gray-200;
$input-border-radius: 0.375rem;
$custom-control-indicator-bg: white;

$body-bg: #f5f7fa !default;
$body-color: white !default;

$border-radius-xs: 4px !default;
$border-radius: 6px !default;
$border-radius-md: 8px !default;
$border-radius-lg: 10px !default;
$border-radius-xl: 12px !default;

$border-color: $gray-100 !default;
$border-opacity: 1 !default;
$card-shadow: 0 1px 3px 0 #e6ebf1 !default;
$shadow-inset: #E2E6E9 !default;
$shadow-base: 0px 4px 8px rgba(25, 39, 52, 0.06), 0px 0px 4px rgba(25, 39, 52, 0.12) !default;
$card-bg: white !default;

$padding-xs: 5px !default;
$padding-sm: 8px !default;
$padding-md: 15px !default;
$padding-lg: 20px !default;
$padding-xl: 30px !default;
$padding-2xl: 40px !default;

$margin-xs: 5px !default;
$margin-sm: 8px !default;
$margin-md: 15px !default;
$margin-lg: 20px !default;
$margin-xl: 30px !default;
$margin-2xl: 40px !default;

$text-muted: $gray-600 !default;
$text-light: $gray-700 !default;
$text-color: $gray-900 !default;
$heading-color: $gray-900 !default;
$text-secondary-color: $blue-900 !default;
$control-bg: white !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	2xl: 1440px
) !default;

$spacers: (
	0: 0,
	1: 0.25rem,
	2: 0.5rem,
	3: 0.75rem,
	4: 1rem,
	5: 1.25rem,
	6: 1.5rem,
	8: 2rem,
	10: 2.5rem,
	12: 3rem,
	14: 3.5rem,
	16: 4rem,
	18: 4.5rem,
	20: 5rem,
	22: 5.5rem,
	24: 6rem,
	28: 7rem,
	32: 8rem,
	36: 9rem,
	40: 10rem,
	44: 11rem,
	48: 12rem,
	52: 13rem,
	56: 14rem,
	64: 16rem
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import 'css_variables';

$code-color: $purple;
