@import "../common/form";

[data-doctype="Web Form"] {
	.page_content {
		max-width: 800px;
		margin: auto;

		.frappe-card {
			padding: 1rem;

			h3 {
				margin-top: 0;
				margin-bottom: 0;
			}

			.web-form-head {
				margin: 0 -1rem;
				padding: 0 1rem 1rem 1rem;
				margin-bottom: 1rem;
				border-bottom: 1px solid var(--border-color);
			}

			#introduction {
				margin-bottom: 2rem;
			}

			#introduction p {
				color: var(--text-muted);
			}

			.web-form-actions button {
				margin-top: 0.1rem;
			}
		}

		.frappe-card.list-card {
			min-height: 400px;
		}

		.breadcrumb-container.container {
			@include media-breakpoint-up(sm) {
				padding-left: 0;
			}
		}
	}
}

.web-form-wrapper {
	.form-control {
		color: var(--text-color);
		background-color: var(--control-bg);
	}

	.form-section {
		.section-head {
			font-weight: bold;
			font-size: var(--text-xl);
			padding: var(--padding-md) 0;
		}
	}

	.form-column {
		padding: 0 var(--padding-md);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}
}

#web-form {
	padding-bottom: 2rem;

	.form-section {
		margin: 0
	}

	.form-section {
		@include card();
		margin: 0.8rem 0;
		.section-head {
			width: 100%;
			padding: var(--padding-sm) var(--padding-md);
			margin: 0;
			margin-bottom: var(--margin-sm);
			font-size: var(--text-xl);
			color: var(--heading-color);
		}
		.section-head:first-child {
			margin-top: var(--margin-sm);
		}
	}
}

.form-group label {
	font-weight: normal;
}

.checkbox .label-area {
	padding-left: 3px;
}

.page-header-actions-block .btn-delete {
	display: none;
	padding: 3px 10px;
}

.page-header-actions-block .btn-new {
	display: inline;
}

.page-header-actions-block.actions-mode .btn-delete {
	display: inline;
}

.page-header-actions-block.actions-mode .btn-new {
	display: none;
}

.web-form-page, .web-form-page .section {
	padding: 20px 0px;
}

.web-form-grid-row input, .web-form-grid-row select {
	border: 0px;
	padding: 0px;
}
.web-form-grid-row input:focus, .web-form-grid-row select:focus {
	box-shadow: none;
}
.web-form-grid-row .form-group {
	margin: 0px;
}

.list-view-footer {
	margin: 0.5rem 0;
}

.comments {
	margin: 1rem 0;
}

.slide-progress {
	/*border-top: 1px solid #d1d8dd;*/
	margin-top: -10px;
}
.slide-progress .fa-fw {
	vertical-align: middle;
	margin-right: 9px;
	padding-left: 2px;
	cursor: pointer;
}
.slide-progress .icon-circle-blank {
	font-size: 12px;
}
.slide-progress .icon-circle {
	font-size: 14px;
}

.modal-title {
	margin-top: 5px;
}

.modal-header {
	padding: 10px 15px;
}

.form-in-grid .form-section {
	margin: 0px;
	padding: 15px;
}

.form-in-grid {
	.grid-form-heading .row-actions,
	.grid-footer-toolbar {
		display: none !important;
	}
}

.form-control {
	border-width: 1px;
	border-color: $gray-400;
	border-style: none none solid;
}

.form-clickable-section {
	border-top: 1px solid #d1d8dd;
	padding: 10px 15px;
}

.table > tbody > tr > td {
	 vertical-align: middle;
}

table {
	border: 1px solid #ebecf1;
}

.table > tbody > tr:hover {
	background-color: rgb(247, 250, 252);
}

.grid-body .data-row {
	font-size: inherit;
}

.like-disabled-input {
	margin-bottom: 7px;
	border-radius: 3px;
	min-height: 30px;
	font-weight: bold;
	background-color: #f5f7fa;
	padding: 5px 10px;
	border-radius: 3px;
}

.like-disabled-input.for-description {
	font-weight: normal;
	font-size: 12px;
}

.list-table {
	margin-left: -1rem;
	margin-right: -1rem;

	.table {
		thead {
			th {
				border: 0;
				font-size: 13px;
				font-weight: normal;
				color: var(--text-muted);

				input[type="checkbox"] {
					margin-bottom: -2px;
				}
			}
		}

		tr {
			color: var(--text-color);

			td {
				font-size: 13px;
				border-top: 1px solid var(--border-color);
			}
		}

		input[type="checkbox"] {
			margin-left: 0.5rem;
			margin-top: 2px;
		}

		.list-col-checkbox {
			width: 1rem;
		}

		.list-col-serial {
			width: 1.5rem;
		}
	}
}
