<div class="form-documents transactions">
	{% for (let i=0; i < transactions.length; i++) { %}
		{% if (i % 3 === 0) { %}
		<div class="row">
		{% } %}
		<div class="col-md-4">
			<h6 class="form-link-title">{{ __(transactions[i].label) }}</h6>
			{% for (let j=0; j < transactions[i].items.length; j++) { %}
					{% let doctype = transactions[i].items[j]; %}
			<div class="document-link"
				data-doctype="{{ doctype }}">
				<div class="document-link-badge" data-doctype="{{ doctype }}">
					<a class="badge-link">{{ __(doctype) }}</a>
				</div>
				<span class="count hidden"></span>
				<span class="open-notification hidden"
					title="{{ __("Open {0}", [__(doctype)])}}"></span>
				{% if !internal_links[doctype] %}
					<button class="btn btn-new btn-default btn-xs hidden"
						data-doctype="{{ doctype }}">
							<svg class="icon icon-sm"><use href="#icon-add"></use></svg>
				{% endif %}
			</div>
			{% } %}
		</div>
		{% if (i % 3 === 2 || i === (transactions.length - 1)) { %}
		</div>
		{% } %}
	{% } %}
</div>