.breadcrumb {
	padding-left: 0;
	padding-right: 0;
	background-color: white;
	font-size: var(--text-sm);
}

/*! This comment will be included even in compressed mode. */
#navbar-breadcrumbs {
	font-size: var(--text-sm);
	a {
		font-size: var(--text-md);
		margin-right: 5px;
		&:before {
			content: #{"/*!rtl:var(--left-arrow-svg);*/"}var(--right-arrow-svg);
			display: inline-block;
			margin-right: 5px;
		}
	}

	li.disabled {
		a {
			color: var(--text-muted);
			pointer-events: none;
		}
	}
}